{% extends "base.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    
    <li> <a href="{{ path('dealerrangemanifiesto_index') }}">Listado de Rangos</a> </li>
    <li> <a href="{{ path('dealerrangemanifiesto_new') }}">Nuevo Rango</a> </li>
    {% endblock %}

{% block myContent %}
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {{ parent() }}
    {{ include('DealerRangeManifiesto/form.html.twig') }}
{% endblock %}
