{% extends "base.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('guide_index') }}">Listado de Guías</a> </li>
{% endblock %}

{% block title %}
    Listado de Guías
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" language="Javascript">
    	$('#pizote_spinner').show();
    </script>


    <style>

		#dt_table_filter{
			display: none;
		}

		.dataTables_processing{
			z-index: 999999 !important;
			position: absolute !important;
		}

		#myModal{
			z-index: 999999;
			height: 100%;
			float: left;
			top: 0;
			left: 0;
		}

		.modal-dialog {
			max-width: 600px !important;
			margin: 1.75rem auto;
		}


	    th, td {
	    	min-width: 50px;
		  	white-space: nowrap;
		  	word-wrap:break-word;
	    }

	    div.dataTables_wrapper {
	        width: 100%;
	        height: auto;
	        margin: 0 auto;
	    }

		#dt_table_wrapper{
			max-width: 1024px;
		}

    </style>


{% endblock %}


{% block myContent %}
{{ parent() }}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        {#<a class="pull-right btn btn-primary btn-lg" href="{{ path('guide_new') }}">
            Crear Nuevo Consecionario
        </a>#}
    </div>
</div>

<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
    <header>
        <h2> Listado de Guías</h2>
    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            
            {#<form id="filterForm" action="{{path('guide_index')}}" method="POST" name="guide_index">#}
                	<input type="hidden" name="filter" value="true" />
					<label>Búsqueda general</label>
					<div class="form-group row" >
						<div class="col-md-3">
							<label for="select_dealer">Consecionario:</label><br />
							<select class="myFilter form-control" id="select_dealer" name="select_dealer"  >
								{% if role == 'ADMINISTRADOR' %}
									<option value="0" selected>Todos</option>
								{% endif %}

								{% for d in dealer%}
									<option value="{{d.id}}" >{{ d.name }}</option>
								{% endfor %}
							</select>
							<input type="hidden" name="select_tipo" value="0"/>
						</div>
						<div class="col-md-3">
							<label for="select_status_ex">Status:</label><br />
							<select class="myFilter form-control" id="select_status" name="select_status"  >

								<option value="" selected>Todos</option>
								<option value="Ingresado" >Ingresado</option>
								<option value="Confirmado" >Confirmado</option>
								<option value="En transito" >En transito</option>
								<option value="En ruta de entrega" >En ruta de entrega</option>
								<option value="Entregado" >Entregado</option>
								<option value="Retorno" >Retorno</option>
								<option value="Retorno Chicago" >Retorno Chicago</option>
								<option value="Devolución" >Devolución</option>
								<option value="Notice Left" >Notice Left</option>
								<option value="Estación" >Estación</option>

							</select>
						</div>

						<div class="col-md-3">
							<label for="created_from">Desde:</label><br />
							<input  id="created_from" name="created_from" type="date"  class="form-control myFilter input-daterange"  />

						</div>
						<div class="col-md-3">
							<label for="created_to">Hasta:</label><br />
							<input  id="created_to" name="created_to" type="date" class="form-control myFilter input-daterange" />

						</div>


					</div>
					<div class="clearfix"></div>
					<hr>
					<label>Búsqueda exclusiva</label>
					<div class="form-group row" >
						<div class="col-md-3">
							<label for="code">Código de Guía:</label><br />
							<input  class="myFilter form-control" type="text" name="code" id="code" />

						</div>
						<div class="col-md-3">
							<label for="select_status">Status:</label><br />
							<select class="myFilter form-control" id="select_status_ex" name="select_status_ex"  >

								<option value="" selected>Todos</option>
								<option value="Ingresado" >Ingresado</option>
								<option value="Confirmado" >Confirmado</option>
								<option value="En transito" >En transito</option>
								<option value="En ruta de entrega" >En ruta de entrega</option>
								<option value="Entregado" >Entregado</option>
								<option value="Retorno" >Retorno</option>
								<option value="Retorno Chicago" >Retorno Chicago</option>
								<option value="Devolución" >Devolución</option>
								<option value="Notice Left" >Notice Left</option>
								<option value="Estación" >Estación</option>

							</select>
						</div>

						<div class="col-md-3">
							<label for="code">No Tel destinatario:</label><br />
							<input  class="myFilter form-control" type="text" name="receiver_phone" id="receiver_phone" />

						</div>
						<div class="col-md-3">
							<label for="code">Destinatario:</label><br />
							<input  class="myFilter form-control" type="text" name="receiver" id="receiver" />
						</div>

					</div>
					<div class="clearfix"></div>
					<div class="col-md-3">
						<label for="select_status_ex">Courier:</label><br />
						<select class="myFilter form-control" id="select_courier" name="select_courier">
							<option value="" selected>Todos</option>
							<option value="DHL">DHL</option>
							<option value="Fedex">Fedex</option>
						</select>
					</div>

            {#</form>#}
            <br>
            <div class="widget-body-toolbar">

            </div>
			<table id="dt_table" class="table table-striped table-bordered table-hover">
				<tfoot class="dt_tfoot">
					<tr>
						<th>Guía</th>
						<th>Guía Alterna</th>
						<th>Fecha</th>
						<th>Servicio</th>
						<th>Tracking</th>
						<th>Comentario</th>
						<th>Status</th>
						<th>Proceso reenvío</th>
						<th>USPS</th>
						<th>UPS</th>
						<th>USPS por Cobro</th>
							<th>Fedex Tracking</th>
						<th>FEDEX</th>
						<th>DHL Tracking</th>
						<th>Consecionario</th>
						<th>Remitente</th>
						<th>Tel. Rem</th>
						<th>Destinatario</th>
						<th>Dir. Dest</th>
						<th>Tel. Dest</th>
						<th>Peso</th>
						<th>Contenido</th>

							<th>Precio</th>
							<th>Estado Pago</th>


							<th>Reclamo</th>
							<th>Tracking por Cobrar</th>


						<th width="100px"></th>
						{#<th>Datos de Remitente</th>
						<th>Datos de Destinatario</th>#}
					</tr>
				</tfoot>
				<thead>
					<tr>
						<th>Guía</th>
						<th>Guía Alterna</th>
						<th>Fecha</th>
						<th>Servicio</th>
						<th>Tracking</th>
						<th>Comentario</th>
						<th>Status</th>
						<th>Proceso reenvío</th>
						<th>USPS</th>
						<th>UPS</th>
						<th>USPS por Cobro</th>
						<th>Fedex Tracking</th>
						<th>FEDEX</th>
						<th>DHL Tracking</th>
						<th>Consecionario</th>
						<th>Remitente</th>
						<th>Tel. Rem</th>
						<th>Destinatario</th>
						<th>Dir. Dest</th>
						<th>Tel. Dest</th>
						<th>Peso</th>
						<th>Contenido</th>

							<th>Precio</th>
							<th>Estado Pago</th>

							<th>Reclamo</th>
							<th>Tracking por Cobrar</th>


						<th width="100px">Acciones</th>
						{#<th>Datos de Remitente</th>
						<th>Datos de Destinatario</th>#}
					</tr>
				</thead>
	        	<tbody></tbody>
	    </table>            
            
            {#<div id="table-container" style="height: 500px; overflow-y: scroll;overflow-x: scroll;">#}
        {#
         	<div class="pane pane--table2">
            
	            <table id="dt_basic" class="table table-striped table-bordered table-hover">
	                <thead>
	                    <tr>

	                    </tr>
	                </thead>

	            </table>
				<div id="bottom_anchor"></div>
			</div>       
        #}  


        </div>
        <!-- end widget content -->

        

    </div>
    <!-- end widget div -->
    
</div>


	<!-- Modal -->
	<div class="modal fade" style="z-index: 999999" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="pizoteClose" data-dismiss="modal" aria-hidden="true">Cerrar X</button>
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>
				<div class="modal-content" id="modal_body" style="padding: 20px">

				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

<script type="text/javascript" language="JavaScript">


	function modalInfo(guideID){
		//modal_body
		$.ajax({
			type:"POST",
			dataType:"html",
			async: false,
			url:"{{ path('guide_view') }}",
			data:"guide_id="+guideID,
			success:function(data){
				console.log(data);
				$("#modal_body").html(data);
			}
		});

		$('#myModal').modal({
			show: true
		});
	}



	$(document).ready(function(){

		document.getElementById("created_from").valueAsDate = new Date();
		document.getElementById("created_to").valueAsDate = new Date();


		/* For Export Buttons available inside jquery-datatable "server side processing" - Start
        - due to "server side processing" jquery datatble doesn't support all data to be exported
        - below function makes the datatable to export all records when "server side processing" is on */

		function newexportaction(e, dt, button, config) {
			var self = this;
			var oldStart = dt.settings()[0]._iDisplayStart;
			dt.one('preXhr', function (e, s, data) {
				// Just this once, load all data from the server...
				data.start = 0;
				data.length = 2147483647;
				dt.one('preDraw', function (e, settings) {
					// Call the original action function
					if (button[0].className.indexOf('buttons-copy') >= 0) {
						$.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
					} else if (button[0].className.indexOf('buttons-excel') >= 0) {
						$.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
								$.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
								$.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
					} else if (button[0].className.indexOf('buttons-csv') >= 0) {
						$.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
								$.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
								$.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
					} else if (button[0].className.indexOf('buttons-pdf') >= 0) {
						$.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
								$.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
								$.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
					} else if (button[0].className.indexOf('buttons-print') >= 0) {
						$.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
					}
					dt.one('preXhr', function (e, s, data) {
						// DataTables thinks the first item displayed is index 0, but we're not drawing that.
						// Set the property to what it was before exporting.
						settings._iDisplayStart = oldStart;
						data.start = oldStart;
					});
					// Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
					setTimeout(dt.ajax.reload, 0);
					// Prevent rendering of the full data to the DOM
					return false;
				});
			});
			// Requery the server with the new one-time export settings
			dt.ajax.reload();
		};
		//For Export Buttons available inside jquery-datatable "server side processing"

		var myScrollY = "300px";
		var table;
		function fetchData(){

			table  = $('#dt_table').DataTable({
				dom: 'Bfrtip',
				buttons: [
					//{extend: 'print', text: 'Imprimir', message: ''},
					{	extend: 'excel',
						text: 'Exportar Excel',
						message: '',
						action: newexportaction

					},


				],

				"columnDefs": [

					// These are the column name variables that will be sent to the server
					{ "name": "code",   "targets": 0 },
					{ "name": "alternateCode",   "targets": 1 },
					{ "name": "createdAt",   "targets": 2 },
					{ "name": "service",   "targets": 3 },
					{ "name": "tracking",   "targets": 4 },
					{ "name": "comment",   "targets": 5 },
					{ "name": "status",  "targets": 6 },
					{ "name": "newShipping",  "targets": 7 },
					{ "name": "goToUsps",  "targets": 8 },
					{ "name": "goToUps",  "targets": 9 },
					{ "name": "uspsCharge",  "targets": 10 },
					{ "name": "fedex",  "targets": 11 },
					{ "name": "goToFedex",  "targets": 12 },
					{ "name": "dhl",  "targets": 13 },
					{ "name": "dealer",  "targets": 14 },
					{ "name": "senderName",  "targets": 15 },
					{ "name": "senderPhone",  "targets": 16 },
					{ "name": "receiverName",  "targets": 17 },
					{ "name": "receiverAddress",  "targets": 18 },
					{ "name": "receiverPhone",  "targets": 19 },
					{ "name": "weight",  "targets": 20 },
					{ "name": "sentData",  "targets": 21 },
					{% if (role == 'ADMINISTRADOR' or role == 'CONTABILIDAD' or role == 'VENTAS') %}
					{ "name": "price",  "targets": 22 },
					{ "name": "paymentStatus",  "targets": 23 },
					{% else %}
					{ "name": "price",  "targets": 22, "visible": false, "searchable": false },
					{ "name": "paymentStatus",  "targets": 23, "visible": false, "searchable": false  },
					{% endif %}
					{% if (role == 'ADMINISTRADOR' or role == 'DIGITADOR' or role == 'SERVICIO AL CLIENTE' or role == 'VENTAS' or 'RECEPCION Y GUIAS') %}
					{ "name": "claim",  "targets": 24 },
					{ "name": "trackingCharge",  "targets": 25 },
					{% else %}
					{ "name": "claim",  "targets": 24, "visible": false, "searchable": false  },
					{ "name": "trackingCharge",  "targets": 25, "visible": false, "searchable": false  },
					{% endif %}

					{ "name": "actions",  "targets": 26 },

				],
				// Server-side parameters
				"processing": true,
				"serverSide": true,
				// Ajax call
				"ajax": {
					"url": "{{ path('guide_list_datatables') }}",
					"type": "POST",
					data   : function( d ) {
						//general search
						d.filter_status= $('#select_status').val();
						d.filter_from= $('#created_from').val();
						d.filter_to= $('#created_to').val();
						d.filter_dealer= $('#select_dealer').val();
						d.filter_courier= $('#select_courier').val();

						//exclusive search
						d.filter_code = $('#code').val();
						d.filter_receiver = $('#receiver').val();
						d.filter_receiver_phone = $('#receiver_phone').val();
						d.filter_status_ex= $('#select_status_ex').val();

					},

					//dataType: "html",
					{#"data": {filter_code: '{{ arrFilters["code"] }}', filter_from: '{{ arrFilters["from"] }}', filter_to: '{{ arrFilters['to'] }}', filter_dealer: '{{ arrFilters['dealer'] }}', filter_status: '{{ arrFilters["status"] }}' }#}
				},
				// Classic DataTables parameters

				//"sPaginationType" : "bootstrap_full",
				"paging" : true,
				"info" : true,
				"searching": true,
				"pageLength": 100,

				"order": [[1, 'asc']],
				scrollY:        myScrollY,
				scrollX:        true,
				"bScrollCollapse": true,
				scrollCollapse: true,
				fixedColumns:   {
					leftColumns: 1,
					rightColumns: 1,

				}

			});

		}

			// Add a text input to each footer cell
			var pos = 1;
			$('#dt_table tfoot th').each( function () {
				var title = $(this).text();
				//if(pos != 22){//columna Actions
					$(this).html( "<input id='input" + pos + "' type='text' class='form-control' style='font-family:Arial, FontAwesome; width:100%'/>" );
				//}

				pos ++;
			});


			fetchData();

			// Apply the search
			pos = 1;
			table.columns().every( function () {
				var that = this;

				$("#input"+pos).on( 'keyup change', function () {
					if ( that.search() !== this.value )
					{
						that.search( this.value ).draw();
					}
				});
				pos++;
			});

		//VIEW MODAL ON HOVER
		$( ".viewModal" ).click(function() {


		});

		///////SEARCH BETWEEN DATES
		{#
		$('#created_from').datepicker({
			todayBtn:'linked',
			format: "yyyy-mm-dd",
			autoclose: true
		});

		#}

		//fetch_data('no');


		$('.myFilter').change(function(){
			var start_date = $('#created_from').val();
			var end_date = $('#created_to').val();

			if(start_date != '' && end_date !='')
			{
				table.ajax.reload()
			}
			else
			{
				alert("Both Dates are Required");
			}
		});

		$('#pizote_spinner').hide();


		//eliminar busqueda de, guia, fecha
		$("#input1").remove();
		$("#input2").remove();
		$("#input24").remove();

	});

	
</script>   

{% endblock %}
