{% extends "base.html.twig" %}

{% block breadcrumb %}
    {{ parent() }}
    <li xmlns="http://www.w3.org/1999/html"> <a href="{{ path('report_billing') }}">Facturación</a> </li>
    {% endblock %}

{% block title %}
    Facturación
{% endblock %}


{% block myContent %}
    {{ parent() }}
	   
	<style>
	    .input-group {
	        z-index: 0;
	    }
	</style>
	
	<div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <div data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-sortable" style="" role="widget">
                    <header role="heading">
                        <h2>Facturación</h2>

                    </header>
                    <!-- widget div-->
                    <div role="content">
                    <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form id="filterForm" action="{{path('report_billing')}}" method="POST" name="report_billing">
                                <input type="hidden" name="filter" value="true" />
                                <div class="form-group row" >
                                    <div class="col-md-4">
                                        <label for="select_dealer">Consecionario:</label><br />
                                        <select class="form-control" id="select_dealer" name="select_dealer"  >
                                            <option value="0">Todos</option>
                                            {% for d in dealer%}
                                                {% set selected = d.id == select_dealer ? ' selected="selected" ' : ''%}
                                                <option value="{{d.id}}" {{selected}}>{{ d.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="select_tipo" value="0"/>

                                    </div>
                                    <div class="col-md-4">
                                        <label for="select_service">Servicio:</label><br />
                                        <select class="form-control" id="select_service" name="select_service">
                                            <option value="0">Todos</option>
                                            {% for s in service%}
                                                {% set selected = s.id == select_service ? ' selected="selected" ' : ''%}
                                                <option value="{{s.id}}" {{selected}}>{{ s.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-4">
                                        <label for="created_from">Desde:</label><br />
                                        <input id="created_from" name="created_from" type="date" class="form-control" value="{{filter_created_from}}" />

                                    </div>
                                    <div class="col-md-4">
                                        <label for="created_to">Hasta:</label><br />
                                        <input id="created_to" name="created_to" type="date" class="form-control" value="{{filter_created_to}}" />

                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-3">
                                    <label for="select_status_ex">Courier:</label><br />

                                        {% set selected = select_courier_dhl == "DHL" ? ' checked ' : '' %}
                                        <input type="checkbox" value="DHL" name="select_courier_dhl" {{ selected }}>DHL
                                        {% set selected = select_courier_fedex == "Fedex" ? ' checked ' : '' %}
                                        <input type="checkbox" value="Fedex" name="select_courier_fedex" {{ selected }}>Fedex
                                        {% set selected = select_courier_ups == "UPS" ? ' checked ' : '' %}
                                        <input type="checkbox" value="UPS" name="select_courier_ups" {{ selected }}>UPS


                                </div>
                                <div class="clearfix"></div>
                                <div class="clearfix"><br></div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                        Filtrar
                                    </button>

                                </div>

                                <div class="clearfix"></div>

                            </form>
                            <br />


                            <table id="dt_basic" class="table table-striped table-bordered table-hover" >
                                {% set total = 0 %}
                                {% if billing is iterable%}
                                <thead>
                                    <tr>
                                        <th>Consecionario</th>
                                        <th>Guía</th>
                                        <th>Fecha</th>
                                        <th>Servicio</th>
                                        <th>Tracking DHL</th>
                                        <th>Tracking Fedex</th>
                                        <th>Tracking UPS</th>
                                        <th>Nombre Remitente</th>
                                        <th>NIT</th>
                                        <th>Dir Remitente</th>
                                        <th>Peso</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set myDealer = "" %}
                                    {% for b in billing %}
                                        <tr>
                                            <td>{{ b.dealer }}</td>
                                            <td>{{ b.guide_code }}</td>
                                            <td>{{ b.created_at|date("d/m/Y") }}</td>
                                            <td>{{ b.service }}</td>
                                            <td>{{ b.dhl }}</td>
                                            <td>{{ b.fedex }}</td>
                                            <td>{{ b.tracking }}</td>
                                            <td>{{ b.sender_name }}</td>
                                            <td>{{ b.nit }}</td>
                                            <td>{{ b.sender_address }}</td>
                                            <td>{{ b.weight }}</td>
                                            <td style="text-align: right">{{ b.price|number_format(2, '.', ',') }}</td>
                                            {%  set total =  total + b.price %}
                                        </tr>
                                        {% set myDealer = b.dealer %}
                                    {% endfor %}
                                    <tr>
                                        <td>{{ myDealer }}</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td  style="text-align: right"><b>TOTAL</b></td>
                                        <td style="text-align: right">{{ total|number_format(2, '.', '') }}</td>
                                    </tr>

                                    </tbody>
                                {% endif %}
                            </table>

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <div class="clearfix"></div>
            </article>
	</div>
	
	<script type="text/javascript" language="Javascript">

        $( document ).ready(function() {
            $(".mul-select").select2({
                placeholder: "select data-structures",
                tags: true,
            });

            $('#dt_basic').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {extend: 'print', text: 'Imprimir', message: ''},
                    {extend: 'excel', text: 'Exportar Excel',message: ''}

                ],
                "aaSorting": [[ 0, "asc" ]],
                "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"Todos"] ],
                "iDisplayLength": -1,

            });

        });


	</script>  
   
{% endblock %}
